.todolist{
.todoitem{
    background-color: black;
    color: white;
    padding:2rem ;
    display: flex;
    gap:30rem;
    font-size:1.5rem;
    align-items: center;
    justify-content: center;
    .item{
     overflow-x:hidden ;
     text-overflow: ellipsis;
     text-wrap: nowrap;
     width: 10rem;
    }  
   }
   .deletebutton {
    width: 10rem;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    background-color:red;
    color: white;
    transition: all 0.5s;
    letter-spacing: 0.2rem;
    border-radius: 1rem;
}
.deletebutton:hover{
    background-color:white;
    color: black;
}
}