.todoapp{
    width: 100vw;
    height: fit-content;
}
.todocontent{
    width: 100%;
    height:20rem;
    background-color:red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
    .todoinput{
        display: flex;
        flex-direction:row;
        gap:4rem;
        input{
            font-size: 1rem;
            padding:1rem;
            width: 20rem;
            border-radius: 1rem;
            border: white ;
            box-shadow: 0.7rem 0.6rem 2rem 0.5rem black;
            transition: all 0.3s;

        }
        input:hover{
            transform: scale(1.1);
        }
    }
    .todoaddbutton{
        padding-top: 3rem;
    }
    button{
        width: 10rem;
        padding: 1rem;
        text-align: center;
        font-size: 1rem;
        font-weight: bolder;
        background-color:black;
        color: white;
        transition: all 0.5s;
    }
    button:hover{
        background-color:white;
        color: black;
    }
}
 .todolist{
    padding-top: 5rem;
.todoitem{
    background-color: black;
    color: white;
    padding:2rem ;
    display: flex;
    gap:30rem;
    font-size:1.5rem;
    align-items: center;
    justify-content: center;
    .item{
     overflow-x:hidden ;
     text-overflow: ellipsis;
     white-space:no-wrap;
     width: 10rem;
    }  
   }
   .deletebutton {
    width: 10rem;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    background-color:red;
    color: white;
    transition: all 0.5s;
    letter-spacing: 0.2rem;
    border-radius: 1rem;
}
.deletebutton:hover{
    background-color:white;
    color: black;
}
}